.table {
  margin: 0;
  // border-color: transparent;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .dropdown {
      cursor: pointer;
    }
  }
  tbody {
    tr,
    .tr {
      td,
      .td {
        vertical-align: middle;
        &.action {
          .btn {
            background-color: $blue-100;

            &[aria-expanded='true'] {
              background-color: $indigo-200;
              i {
                color: white;
              }
            }
            i {
              color: $indigo-200;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
  &-border {
    border: 1px solid $border-color-gray;
    border-radius: 0.25rem;
  }

  &-hoverable {
    tbody {
      tr {
        td {
          .action {
            position: relative;
            display: none;

            .table-action {
              position: absolute;
              top: 0;
              right: 0;
              transform: translateY(-45%);
            }
          }
        }
        &:hover {
          td {
            .show {
              display: none;
            }
            .action {
              display: flex;
            }
          }
        }
      }
    }
  }
  &-01 {
    thead {
      background-color: $blue-100;
      color: $indigo;
      @include des;
      font-weight: 400;
      th {
        border-top: none;
        padding: 0.5rem;
        vertical-align: middle;
      }
    }
    tbody {
      tr {
        td {
          @include des;
          color: $gray-700;
          font-weight: 400;
          vertical-align: middle;
          a {
            color: $blue;
          }
        }
      }
    }
  }
  &-02 {
    background-color: white;
    tbody {
      tr {
        td {
          width: 50%;
          @include small;
          color: $gray-600;
          font-weight: 500;
          padding: 0.5rem 1rem;
        }
      }
    }
  }
  &-03 {
    thead,
    .thead,
    .thead > * > * {
      background-color: $gray-92;
      color: $gray-16;
      th,
      .th {
        font-weight: 600;
        @include rfs(14px);
        &:first-child {
          border-top-left-radius: 0.25rem;
        }
        &:last-child {
          border-top-right-radius: 0.25rem;
        }
        border-top: none;
        padding: 0.45rem 0.5rem;
        vertical-align: middle;
        border-bottom: none;
        white-space: nowrap;
      }
    }
    tbody,
    .tbody,
    .tbody > * > * {
      background-color: white;
      tr,
      .tr {
        &:hover {
          background-color: $yellow-88;
          .table-action {
            .btn {
              [class^='ic-'],
              [class*=' ic-'],
              svg {
                color: $yellow-48;
                fill: $yellow-48;
              }
              &:hover {
                @include button-variant($yellow-56, $yellow-56);
                [class^='ic-'],
                [class*=' ic-'],
                svg {
                  color: white;
                  fill: white;
                }
              }
            }
          }
        }
        &.unread {
          background-color: $gray-96;
        }
        &.hover {
          &-none {
            &:hover {
              background-color: transparent;
            }
          }
        }

        td,
        .td {
          @include rfs(14px);
          color: $gray-32;
          padding: 0.45rem 0.5rem;
        }
        &:last-child {
          td,
          .td {
            border-bottom-color: transparent !important;
          }
        }
      }
    }
    tfoot,
    .tfoot {
      background-color: $blue-92;
      color: $gray-16;
      tr,
      .tr {
        td,
        .td {
          @include rfs(14px);
          padding: 0.45rem 0.5rem;
        }
      }
    }
  }
  &-scrollable {
    max-height: 330px;
    min-height: 330px;
    @include scrollable;
    thead {
      z-index: 9;
      th {
        position: sticky;
        top: 0;
        // background-color: white;
      }
    }
  }
  &-text {
    @include rfs(14px);
  }
  &-action {
    display: flex;
    align-items: center;
    li {
      &:not(:last-child) {
        margin-right: 0.25rem;
      }
    }
    .btn {
      [class^='ic-'],
      [class*=' ic-'],
      svg {
        color: $gray-56;
        fill: $gray-56;
        @include rfs(20px);
      }
    }
  }

  &-input {
    input {
      min-width: 150px;
    }
  }
  &-dropdown {
    .dropdown-menu {
      padding: 1rem;
      min-width: 274px;
    }
  }
  &-noheader {
    thead {
      display: none;
    }
  }
  &-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $blue-92;
    padding: 0.45rem 0.5rem;
    border: 1px solid $gray-80;
    border-top: none;
    line-height: 100%;
    h6 {
      font-weight: 600;
    }
    h6,
    span {
      @include rfs(14px);
    }
  }
  &-04 {
    border-collapse: initial;
    border-spacing: 0;
    tbody {
      tr {
        td {
          background-color: #f8f9fa;
        }
        .nature-bg {
          background-color: #e9ecef;
        }
      }
    }
  }
}
